h1 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
  
.item1 {
    grid-column: 1 / span 4;
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}
.item2 {
    grid-column: 1 / span 4;
    background-color: lightblue;
    padding: 40px;
    text-align: center;
    color: white;
}
.item3 {
    grid-column: span 1;
    grid-row: span 3;
    background-color: red;
    padding: 50px;
    text-align: center;
    color: white;
}
.item4 {
    grid-column: span 3;
    background-color: blue;
    padding: 40px;
    text-align: center;
    color: white;
}
.item5 {
    grid-column: span 3;
    background-color: yellow;
    padding: 40px;
    text-align: center;
}
.item6 {
    grid-column: span 2;
    background-color: green;
    padding: 20px;
    text-align: center;
}
.item7 {

    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
}
