.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: black;
  color: white;
  min-width: 1000vh;
}

/* Style for the avatar */
img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;  /* Add space between the image and the link */
}
a {
  font-size: 24px;
  font-weight: bold;  /* Set the font weight to bold */
}
