body {
  font-family: Arial, sans-serif;
  margin: 50px;
  text-align: center;
}

#username {
  font-size: 24px;
  margin-bottom: 20px;
}

#avatar {
  width: 150px;
  border-radius: 50%; /* make the image round */
}

#username a {
  color: lightpink; /* GitHub's link color */
  text-decoration: none;
}

#username a:hover {
  text-decoration: underline; /* underline on hover */
}
