html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #00539f;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

div {
    font-size: 14px;
    margin-top: 18px;
}

#heading {
    font-size: 20;
    color: blue;
}

.popular {
    border: 4px dotted red;
}